{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}MyBlog - 管理文章{% endblock %}

{% block page_content%}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="{{ url_for('manage.manage_blogs') }}">文章管理 <span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for('manage.manage_users') }}">用户管理</a></li>
                        <li><a href="{{ url_for('manage.manage_comments') }}">评论管理</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-9 main">
                <h2 class="page-header">文章管理</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="th-left">标题</th>
                                <th>发表日期</th>
                                <th>评论数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blog in blogs %}
                            <tr>
                                <td class="th-left"><a href="{{ url_for('main.blog', id=blog.id) }}">{{ blog.name[:30] }}</a></td>
                                <td>{{ moment(blog.create_at).format('YYYY-MM-DD hh:mm:ss') }}</td>
                                <td>{{ blog.comments.count() }}</td>
                                <td>
                                    <a href="{{ url_for('manage.edit_blog', id=blog.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true">-编辑</span></a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="{{ url_for('manage.delete_blog', id=blog.id, page=page) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true">-删除</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% if pagination %}
<div class="pagination-manage">
    <div class="pagination-Nav">
        {{ macros.pagination_widget(pagination, 'manage.manage_blogs') }}
    </div>
</div>
{% endif %}
{% endblock %}