body {
  padding-top: 80px;
}

/*
 * Globals
 */


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, p {
  margin-top: 0;
  font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

p {
  font-size: 16px;
}



/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 20px;
  line-height: 1.8;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 26px;
}

.blog-description {
  font-size:14px;
}

.blog-post-meta {
  margin-bottom: 12px;
  color: #999;
  font-size: 14px;
}

/*
 * Pagination Nav
 */
.pagination {
display:inline-block;
}

.pagination-index {
 text-align: center;
}

.pagination-manage{
  text-align: center;
  margin-top:15px;
  margin-bottom:-20px;
}

.pagination-comment {
  text-align: center;
  margin-bottom:-20px;
  margin-top:10px;
}
/*
 * Footer
 */

.blog-footer {
  margin-top:20px;
  padding: 40px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
  
}

.blog-footer p { 
  font-size: 14px;
}

/*
 * href
 */
.blog-post-read a {text-decoration:none;}
.blog-post-meta a {text-decoration:none;}
.blog-post-title a {text-decoration:none;}
.blog-description a {text-decoration:none;}

.blog-post-title :link{color:black}
.blog-post-title :visited{color: black; }
.blog-post-title :hover{color:black; ;text-decoration:none;}
.blog-post-title :active{color:black;}

.list-unstyled a {
  text-decoration:none;
  font-size:16px; 
  line-height:1.5;
}

/*
 * Sidebar navigation
 */ 

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  background-color: #f5f5f5;
  margin-top:35px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar {
    top: 51px;
    margin-top:-80px;
    padding-right:20px;
    margin-right:20px;
    text-align:right;

  }

.table-responsive {
    padding-top:0px;
    padding-right:50px;
    padding-left:30px;
    text-align:center;
    margin-bottom:30px;
}

.table-striped th {
  text-align:center;
}

.table-striped .th-left{
  text-align:left;
}

.page-header {
    margin-top:20px;
    margin-left: 20px;
    margin-right: 30px;
    text-align:left;
    border-bottom: 1px solid #eee;
}

.main {
    top: 51px;
    margin-top:-80px;
    padding-right:20px;
    margin-right:20px;
    text-align:center;
}

/*
 *  Comment
 */
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 0px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 25px 16px 10px;
}

.nocomment span h4{
    text-align:center;
}

/*
 *  About me
 */
.github {
    width:6%;
    height:6%;
}
