<div class="col-md-7">
<ul class="comments">
    {% if not comments %}
    <div class="nocomment">
        <span><h4><hr>--暂无评论--</h4></span>
    </div>
    {% else %}
        {% for comment in comments %}
        <li class="comment">
            <div class="comment-thumbnail">
                    <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </div>
            <div class="comment-content">
                <div class="comment-date">{{ moment(comment.create_at).fromNow() }}</div>
                <div class="comment-author">{{ comment.author.username }}</div>
                <div class="comment-body">
                    {% if comment.disabled %}
                    <p><i>该评论内容已被管理员屏蔽。</i></p>
                    {% endif %}
                    {% if not comment.disabled or current_user.is_administrator() %}
                    <p>{{ comment.content }}</p>
                    {% endif %}
                </div>
                    <br>
                    {% if current_user.admin %}
                        {% if comment.disabled %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('manage.enable_comment', id=comment.id, page=page, info='blog') }}#comments">恢复</a>
                        {% else %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('manage.disable_comment', id=comment.id, page=page, info='blog') }}#comments">屏蔽</a>
                        {% endif %}
                    {% endif %}
            </div>
        </li>
        {% endfor %}
    {% endif %}
</ul>
</div>